In [13]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


df = pd.read_csv ("c:/users/admin/documents/data science/data sets/india-air-quality-data-utf8.csv", encoding = 'unicode_escape')

#print(os.listdir("../input"))
## This command came from kaggle when the notebook was exported. It doesn't work here.
## If it did, it would be useful. I don't know how to make it work.

In [22]:
df.dtypes

stn_code                        object
sampling_date                   object
state                           object
location                        object
agency                          object
type                            object
so2                            float64
no2                            float64
rspm                           float64
spm                            float64
location_monitoring_station     object
pm2_5                          float64
date                            object
dtype: object

#### These are the column names and ID's:
#### stn_code: Station Code (where the data sample is from)
#### sampling_date: Date of sampling (note how formatted)
#### state: State of India
#### location: Location of recording
#### agency: Agency (maybe the agency that sampled that data?)
#### type: Type of area where sample came from
#### so2: Sulphur dioxide (micrograms/cubic meter)
#### no2: Nitrogen dioxide (micrograms/cubic meter)
#### rspm: Respirable Suspended Particulate Matter (micrograms/cubic meter)
#### spm: Suspended particulate Matter (micrograms/cubic meter)
#### location_monitoring_station: Location where sample was collected
#### pm2_5: particulate matter of size <2.5 (micrograms/cubic meter)
#### date: Date of Sampling (I cannot see what is different from the "sampling_date" above)

In [15]:
df.shape

(435742, 13)

In [14]:
df.head(5)

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,02/01/1990
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,02/01/1990
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,02/01/1990
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,03/01/1990
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,03/01/1990

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
stn_code                       291665 non-null object
sampling_date                  435739 non-null object
state                          435742 non-null object
location                       435739 non-null object
agency                         286261 non-null object
type                           430349 non-null object
so2                            401096 non-null float64
no2                            419509 non-null float64
rspm                           395520 non-null float64
spm                            198355 non-null float64
location_monitoring_station    408251 non-null object
pm2_5                          9314 non-null float64
date                           435735 non-null object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

In [16]:
df.isnull().sum()

stn_code                       144077
sampling_date                       3
state                               0
location                            3
agency                         149481
type                             5393
so2                             34646
no2                             16233
rspm                            40222
spm                            237387
location_monitoring_station     27491
pm2_5                          426428
date                                7
dtype: int64

In [27]:
df.describe()

                 so2            no2           rspm            spm        pm2_5
count  401096.000000  419509.000000  395520.000000  198355.000000  9314.000000
mean       10.829414      25.809623     108.832784     220.783480    40.791467
std        11.177187      18.503086      74.872430     151.395457    30.832525
min         0.000000       0.000000       0.000000       0.000000     3.000000
25%         5.000000      14.000000      56.000000     111.000000    24.000000
50%         8.000000      22.000000      90.000000     187.000000    32.000000
75%        13.700000      32.200000     142.000000     296.000000    46.000000
max       909.000000     876.000000    6307.033333    3380.000000   504.000000

In [31]:
df_lite = df.drop(["stn_code", "agency", "location_monitoring_station"], axis=1)

### Heber's note: From this point we may want to convert dates to just year, or to quarters of year.
### We may want to drop other variables.
### We should fill missing data.
### I will work on some summary plots.